body
{
    background-color: rgb(36, 39, 38);
    background-image: url(".png");
    color: rgb(202, 202, 202);
    font-family: "Georgia", sans-serif;
    text-align: right;
    
}

div
{
    font-size: 20px;
    padding-right: 20px;
}

nav
{
    padding: 5px;
    overflow: hidden;
}

nav a
{
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    float: right;
    color: aliceblue;
    font-size: 30px;
}
.intro
{
    margin-right: 0;
    margin-bottom: 10px;
}
header
{
    text-align: center;
    padding: 20px;
}

footer
{
    text-align: center;
    padding-top: 670px;
    font-size: 17px
}
