body
{
    background-color: rgb(36, 39, 38);
    background-image: url(".png");
    color: rgb(202, 202, 202);
    font-family: "Georgia", sans-serif;
    text-align: right;
    
}

div
{
    font-size: 20px;
    padding-right: 20px;
}

nav
{
    padding: 5px;
    overflow: hidden;
}

nav a
{
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    float: right;
    color: aliceblue;
    font-size: 30px;
}
.intro
{
    margin-right: 0;
    margin-bottom: 10px;
}
.container
{
    width: 100%;
    height: 75vh;
    background: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    justify-content: center;
}
.others
{
    display: flex;
    padding: 40px 80px;
    flex-direction: column;
}

iframe
{
    border-radius: 50px 50px;
    padding: 30px;
    margin: 0 auto;
}
form
{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;   
}
form h3{
    color: black;
    font-weight: 800;
    margin-bottom: 20px;

}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: whitesmoke;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: darkviolet;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer; 
    width: 120px;
    margin: 20px auto 0;
    border-radius: 54px;

}
header
{
    text-align: center;
    padding: 20px;
}

footer
{
    text-align: center;
    padding-top: 670px;
    font-size: 17px
}